body {
    background-color: #990634;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    background-color: #62152D;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.top-bar h2 {
    color: white;
    margin: 0;
    font-size: 1.5em;
}

.icon {
    position: absolute;
    left: 10px;
    width: 30px;
    height: auto;
    cursor: pointer;
}

.container {
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 10px;
    width: 1400px; /* Increased width */
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap; /* Allow wrapping */
}

.input-group div {
    flex: 1;
    margin: 5px;
    background-color: #ffffff;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    min-width: 250px; /* Minimum width to ensure good layout */
}

.input-group div input {
    background: transparent;
    border: none;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: center; /* Centra el texto */
}

.input-group div label {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #CECCCC;
    background-color: #ff0048;
    padding: 2px 5px;
    border-radius: 3px;
}

.table-container {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    margin-left: 50%;
}

th {
    background-color: #7f7f7f;
    color: white;
}

td {
    background-color: #f2f2f2;
}

.footer {
    background-color: #7f7f7f;
    color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.footer .input-group {
    margin: 5px 0;
    flex-wrap: wrap; /* Allow wrapping */
}

.nombre-alumno {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
}

/* Estilo para ajustar los cuadros de selección */
input[type="checkbox"] {
    transform: scale(1.5); /* Aumenta el tamaño del cuadro de selección */
    margin-left: 50%; /* Desplaza el cuadro de selección hacia la derecha */
}
