body {
    background-image: url('../imagenes/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow-x: auto; /* Barra de desplazamiento horizontal */
    overflow-y: hidden; /* Ocultar desplazamiento vertical */
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    background-color: #62152D;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.top-bar h2 {
    color: white;
    margin: 0;
    font-size: 1.5em;
}

.icon {
    position: absolute;
    left: 10px;
    width: 30px;
    height: auto;
    cursor: pointer;
}

.container {
    position: relative;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sidebar {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #4F1124;
    transition: left 0.3s ease;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

.sidebar.active {
    left: 0;
}

.sidebar-btn {
    top: 50px;
    width: calc(100% - 20px);
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    text-align: left;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: -10px;
    position: relative;
    flex-wrap: wrap;
}

.sidebar-icon {
    width: 30px;
    height: auto;
    margin-right: 40px;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}

.sidebar-btn:hover .line {
    width: 100%;
}

.sidebar-btn.logout-btn {
    margin-top: 100px;
    margin-bottom: 20px;
}

.profile-image {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 190px;
    height: 190px;
    border-radius: 100%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.button-item {
    background-color: #62152D;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.custom-button img {
    width: 50px;
    height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    body {
        overflow-x: auto; /* Permitir desplazamiento horizontal */
        overflow-y: hidden; /* Ocultar desplazamiento vertical */
    }

    .container {
        width: 90%;
        padding: 10px;
    }

    .button-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; /* Ajusta el espacio entre los botones */
    }

    .custom-button {
        font-size: 14px; /* Reducir el tamaño del texto */
    }

    .custom-button img {
        width: 40px; /* Reducir el tamaño de la imagen */
    }
}

@media (max-width: 480px) {
    body {
        overflow-x: auto; /* Permitir desplazamiento horizontal */
        overflow-y: hidden; /* Ocultar desplazamiento vertical */
    }

    .top-bar h2 {
        font-size: 1em; /* Ajustar aún más el tamaño del título */
    }

    .container {
        width: 95%;
        padding: 5px;
    }

    .button-container {
        grid-template-columns: 1fr; /* Cambiar a una columna */
        gap: 5px; /* Ajustar el espacio entre los botones */
    }

    .custom-button {
        font-size: 12px; /* Reducir aún más el tamaño del texto */
    }

    .custom-button img {
        width: 30px; /* Reducir aún más el tamaño de la imagen */
    }
}
